h1,h2,h3,h5 {
  color: $title-text-color;
}

h1 {
  font-weight: 900;
  padding: 15px;
}


.statistics h2, .platform-goals h2 {
  font-weight: bold;
  margin-bottom: 25px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

h3 {
  font-weight: bolder;
  font-weight: 900;
  font-size: xx-large;
  text-transform: uppercase;
  padding: 0px 24px 0px 0px;
  margin: 0px;
}

h4 {
  text-transform: uppercase;
  font-size: large;
  width: 200px;
  height: 20px;
  padding: 0px 24px 0px 0px;
  margin: 0px;
}

h5 {
  font-weight: lighter;
  background-color: $highlight;
  padding: 2px;
}

p {
  color: $text-color;
  text-align: justify;
  font-size: large;
}
// Specific CSS for your home-page
.banner-hero {
  height: 500px;
  background-image: url("https://res.cloudinary.com/dmwz69h6j/image/upload/v1612294050/jens-kreuter-ngMtsE5r9eI-unsplash_z4j7he.jpg");
  background-size: cover;
  width: auto;
  filter: grayscale(40%);
  margin-bottom: 25px;
}

.banner-content {
  display: block;
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 10px 0;

}

.search-bar {
  background-color: $background;
  width: 55%;
  padding: 8px;
  margin-top: 10px;
  border: 0.5px solid $highlight-bis;
  border-radius: 10px;
}

.platform-goals {
  margin: 60px auto;

}


.statistics {
  margin-top: 20px;
}

.statistics-number {
  text-align: center;
  color: $highlight-bis;
  font-size: 34px;
  font-weight: bolder;
}

.statistics-label {
  text-align: center;
  font-size: 20px;
}

.final-cta {
  background-color: #f2dcbb;
  border: 1px solid #f2dcbb;
  padding: 2px 24px;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #204A61 !important;
}
