h1,h2,h3,h5 {
  color: $title-text-color;
}

h1 {
  font-weight: 900;
  padding: 15px;
  font-size: clamp(12px, 3vw, 36px);
}

.statistics h2, .platform-goals h2 {
  font-weight: bold;
  margin-bottom: 25px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: clamp(12px, 1.2vw, 1.2vw);
}

h3 {
  font-weight: bolder;
  font-weight: 900;
  font-size:2vw;
  text-transform: uppercase;
  padding: 0px 24px 0px 0px;
  margin: 0px;
}

h4 {
  text-transform: uppercase;
  font-size: large;
  width: 200px;
  height: 20px;
  padding: 0px 24px 0px 0px;
  margin: 0px;
}

h5 {
  font-weight: lighter;
  background-color: $highlight;
  padding: 2px;
  font-size: clamp(10px, 2vw, 15px);
}

p {
  color: $text-color;
  text-align: justify;
  font-size: 1vw;
  font-size: clamp(10px, 2vw, 15px);
}

// Specific CSS for your home-page
.banner-hero {
  height: 1000px;
  //background-image: url("/home/scirpo/code/SCIRPO/cinephil/app/assets/images/background_img.jpg");
  //background-size:cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 10%;
  background-size: 80%;
  width: auto;
  filter: grayscale(40%);
  margin-bottom: 25px;
}

.banner-content {
  display: block;
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 10px 0;
}

.search-bar {
  background-color: $background;
  width: 55%;
  padding: 8px;
  margin-top: 10px;
  border: 0.5px solid $highlight-bis;
  border-radius: 10px;
  //font-size: 10vw; /* Browsers that do not support "MIN () - MAX ()" and "Clamp ()" functions will take this value.*/
  //font-size: max(10px, min(2vw, 15px)); /* Browsers that do not support the "clamp ()" function will take this value. */
  font-size: clamp(10px, 2vw, 15px);
}

.platform-goals {
  margin: 60px auto;
  font-size: clamp(10px, 2vw, 15px);
}

//.card-category {
  //background-size: cover;
  //background-position: center;
  //height: 1200px;
 // display: flex;
  //justify-content: center;
  //align-items: center;
  //color: white;
  //font-size: 24px;
  //font-weight: bold;
  //text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  //border-radius: 5px;
  //box-shadow: 0 0 15px rgba(0,0,0,0.2);
//}

//.responsive {
  //width: 100%;
  //height: auto;
//}

.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows:repeat (2, 100px);
}

.statistics {
  margin-top: 20px;
}

.statistics-figures {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows:repeat (1, 100px);
  font-size: clamp(10px, 2vw, 15px);
  text-align: center;
}

.statistics-number {
  color: $highlight-bis;
  font-weight: bolder;
}

.statistics-label {
  //text-align: center;
  padding-bottom: 12px;
}
