// Import page-specific CSS files here.
@import "library";
.main {
  min-height: 200px;
  max-height: 800px;
}

.page-title {
  display: block;
  margin: 0px 15px 0px 0px;
  padding: 15px 0;
  text-align: center;
}

