<div class="result">
      <% @episodes.each do |episode|%>
        <div class="result-container m-3">
          <h2>title: <%=link_to episode.title, episode_path(episode)%></h2>
          <p>synopsis: <%=episode.synopsis%></p>
          <!-- <p>Season: episode.Season.find(season_id) -->
        </div>
      <%end%>
    </div>
