<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for viewing, html: { class: "viewing_form" }, remote: true do |f| %>
        <%= f.input :rating, collection: (1..5).to_a, input_html: { class: "star_rating" } %>
        <%= f.submit "Send your rating", class: "d-none" %>
      <%end%>
    </div>
  </div>
</div>