
<!-- video banner  -->
<div class="banner-hero">
  <div class="banner-content">
    <h1>Never forget a series. Ever again.</h1>
    <!-- search bar -->
    <input type="text" placeholder="Find a show">
    <%= link_to "Explore", "#", class: "btn-main" %>
  </div>
</div>

<div class="container">
<!-- statistics -->

  <!-- titre stats -->
<div class="statistics">
    <h2>
      Statistics
    </h2>

  <!-- stats -->
   <div class="row">
    <div class="col-3">
       <p>1234566</p>

       Available series
    </div>
    <div class="col-3">
       <p>1234566</p>

       CinePhil lovers

    </div>
    <div class="col-3">
       <p>1234566</p>

       Watched episodes
   </div>
    <div class="col-3">
       <p>1234566</p>
       Hours of binge watching
     </div>
  </div>
</div>

<!-- keep track -->
  <!-- titre stats -->
<div class="platform-goals">

  <h2>
    Keep track of all your stories.
  </h2>

  <div class="row justify-content-between my-5">
    <div class="col-5">
      <h5>
        Find all your series on one platform
      </h5>
      <p>
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
      </p>
    </div>
    <div class="col-5">
      <h5>
        Create your personal library
      </h5>
      <p>
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
      </p>
    </div>
  </div>

  <div class="row justify-content-between my-5">
    <div class="col-5">
      <h5>
        Score and comment your series
      </h5>
      <p>
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
      </p>
    </div>
    <div class="col-5">
      <h5>
        Remember the last episode you’ve seen
      </h5>
      <p>
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
      </p>
    </div>
  </div>

</div>

  <!-- stats -->
</div>
