.btn-main {
  background-color: $highlight;
  border: 1px solid $highlight;
  padding: 2px 24px;
  border-radius: 15px;
  opacity: 1;
  transition: opacity 0.3s ease;
  color: $text-color !important;
  font-size: clamp(10px, 2vw, 15px);
}

.btn-secondary {
  background-color: $background;
  border: 1px solid $text-color;
  padding: 1px 24px;
  border-radius: 15px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  color: $text-color !important;
  font-size: clamp(10px, 2vw, 15px);
}

.btn-collapse {
  opacity: 0.6;
  transition: opacity 0.3s;
  color: $text-color !important;
  font-size: 1vw;
}

.banner-content .btn-main {
  padding: 10px 24px;
}
