.filter-box {
  border: 5px solid lightgray;
  border-radius: 5px;
  background: lightgray;
  font-family:'Courier New', Courier, monospace;
  height: 320px;
  width: 280px;
  padding: 16px;
 }
h1 {
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 'bold';
}
h2 {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}
.search-button {
  border-radius: 2px;
  min-width: 10px;
  padding: 3px 7px;
  font-size: large;
  font-weight: 500;
  line-height: 2;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: $highlight;
  border: 1px solid $highlight;
  border-radius: 6px;
  opacity: 1;
  transition: opacity 0.3s ease;
  color: $text-color !important;
}
