
.navbar-nav {
  align-items: center;
}

.navbar-lewagon {
  justify-content: space-between;
  background: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.nav-item {
  margin: 10px 10px;
}

.nav-link {
  color: $text-color !important;
}
