.result-container {
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 260 px;
}

.result-container a {
  color: $title-text-color;
}


.result-container h3 {
  padding: 10px 0px;
}

.result-container img {
  border-radius: 5px;
}

.card-body {
  padding: 0.5rem 2rem;
}

.genre-tags .platform-tags .title-tags .season_title-tags .add_wishlist-tags{
  display: inline-block;
}

.genre {
  border-radius: 5px;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: large;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: $highlight-bis;
  border-radius: 10px;
}

.platform {
  border-radius: 5px;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: large;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: grey;
  border-radius: 10px;
}

.season_title {
  border-radius: 5px;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: large;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: burlywood;
  border-radius: 10px;
}

.add_wishlist {
  border-radius: 5px;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: medium;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: rgb(12, 72, 141);
  border-radius: 10px;
}

.title {
  font-size: large;
  font-weight: 700;
  height: 1rem; }

.normal{
  font-size: 60px;
  color:grey;
}

.liked {
  font-size: 60px;
  color: $highlight-bis;
}
