<div class="banner">
  <div class="container d-flex justify-content-between">
    <div class="filter-box">
      <h1>Search filters</h1>
      <br>
      <h2>by most recent releases</h2>
      <h2>by genre</h2>
      <h2>by name</h2>
      <h2>by score</h2>
    </div>

    <div class="result">
      <% @series.each do |serie|%>
        <div class="result-container m-3">
          <h2>title: <%=link_to serie.title, series_path(serie)%></h2>
          <p>synopsis: <%=serie.synopsis%></p>
          <p>genre: <%=serie.genres%></p>
          <p>platform: <%=serie.platforms%></p>
        </div>
      <%end%>
    </div>
  </div>
</div>
