<div class="container">
  <h1><%= @serie.title %></h1>
  <h2><%= @serie.synopsis %> </h2>
  <div class="container justify-content-center">
    <div class="image">
    <%= cl_image_tag("samples/imagecon-group.jpg",
      width: 400, height: 300, crop: :fill) %>
    </div>
  </div>
</div>
